<h2 class="text-center text-dark mbr-section-title mbr-fonts-style align-center mbr-black pb-4 display-3">
    Share your song lyric ideas, inspire and get inspired by others!
</h2>

<div class="text-center mbr-section-btn align-center pb-4">
    <a class="btn btn-lg  display-4 btn-info" href="/users/login">
        Share & Discover
    </a>
</div>